[Unit]
After=network-online.target local-fs.target
Wants=network-online.target

[Service]
WorkingDirectory=/opt/telegrambot
EnvironmentFile=/etc/default/telegrambot
#ExecStartPre=

#User=telegrambot
#Group=telegrambot
#ExecStart=/opt/telegrambot/telegrambot

RemainAfterExit=yes
ExecStart=/bin/bash -c "docker compose -f /opt/telegrambot/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "docker compose -f /opt/telegrambot/docker-compose.yml stop"

[Install]
WantedBy=multi-user.target

